/*
为全局容器html,body设定属性
 */
html,body{
  width:100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/*
设置大容器container的相关属性
 */
#at-plus-container{
  position:relative;
  width: 180px;
  height: 100%;
  margin: 0 auto;
}
/*
设置用来定位的小容器的相关属性
 */
#bottom-position{
  position: absolute;
  bottom: 0;
  width: 100%;
}
/*
设置图标展开后，信息bar的位置及大小等外观属性
 */
#button:hover #info-bar{
  position: absolute;
  width: 130px;
  height: 130px;
  bottom: 150px;
  left: 25px;
  border-radius: 50%;
  background-color: #7E7E7E;
  opacity: 1;
}

#button.hover #info-bar{
  position: absolute;
  width: 130px;
  height: 130px;
  bottom: 150px;
  left: 25px;
  border-radius: 50%;
  background-color: #7E7E7E;
  opacity: 1;
}

/*
用来专门定位info-bar中元素
 */
.mine{
  position: relative;
  bottom: 10px;
}

#Result{
  font-size: 25px;
  position: relative;
  left: 50px;
  top:20px;
  color: #26E79E;
}

#Help{
  position: relative;
  bottom: 100px;
  width: 150px;
  height: 150px;
  opacity: 0;
}

/*
设置图标未展开的时候，信息bar的位置及属性，主要是用来定位动画的起点
 */
#info-bar{
  position: absolute;
  width: 26px;
  height: 26px;
  bottom: 97px;
  left: 77px;
  border-radius: 50%;
  background-color: #7E7E7E;
  transition: all 0.5s;
  opacity: 0;
}
/*
设置控制环的初始位置
 */
#control-ring-container{
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 160px;
  left: 0px;
  border-radius: 50%;
}

#control-ring-container:hover{
  position: absolute;
  width: 180px;
  height: 180px;
  bottom: 20px;
  left: 0px;
  border-radius: 50%;
}

#control-ring-container.hover{
  position: absolute;
  width: 180px;
  height: 180px;
  bottom: 20px;
  left: 0px;
  border-radius: 50%;
}

.info{
  height: 100%;
  position:relative;
  right:3px;
}
/*
设置感应区域的大小及位置
 */
#button{
  position: relative;
  width:  100px;
  height: 100px;
  margin: 0px 0px;
}
/*
设置图标展开后，@图标的外观样式
 */
#button:hover .apb{
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 85px;
  left: 65px;
  border-radius: 50%;
  background: #303F9F url("assets/images/atplus_green.png") no-repeat center;
  background-size: 40px 30px;
  transition: all 0.5s;
}

#button.hover .apb{
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 85px;
  left: 65px;
  border-radius: 50%;
  background: #303F9F url("assets/images/atplus_green.png") no-repeat center;
  background-size: 40px 30px;
  transition: all 0.5s;
}
/*
设置图标未展开时，@图标的外观样式
 */
#button .apb{
  position: absolute;
  width: 26px;
  height: 26px;
  bottom: 97px;
  left: 77px;
  border-radius: 50%;
  background: #989FCF url("assets/images/atplus_white.png") no-repeat center;
  background-size: 20px 15px;
}
/*
设置图标未展开时，左侧控制环列表的位置，主要是用来定位动画的起点
 */
#control-ring li{
  list-style: none;
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  margin-top: 60px;
  margin-left: 35px;
  border-radius: 50%;
  background: #686868 center no-repeat;
  background-size: 18px 18px;
  transition: all 0.5s;
  opacity: 0;
}
/*
以下都是来设置控制环展开后的外观样式以及位置
 */
#button:hover #control-ring li{
  opacity: 1;
}

#button.hover #control-ring li{
  opacity: 1;
}

#button #control-ring li:nth-child(1) p{
  opacity: 0;
  position: relative;
  font-size: 25px;
  bottom:15px;
  left: 5px;
}

#button #control-ring li:nth-child(2) p{
  opacity: 0;
  position: relative;
  font-size: 25px;
  bottom:15px;
  left: 5px;
}

#button #control-ring li:nth-child(3) p{
  opacity: 0;
  position: relative;
  font-size: 25px;
  bottom:15px;
  left: 5px;
}

#button #control-ring li:nth-child(4) p{
  opacity: 0;
  position: relative;
  font-size: 25px;
  bottom:15px;
  left: 5px;
}

#button #control-ring li:nth-child(5) p{
  opacity: 0;
  position: relative;
  font-size: 25px;
  bottom:15px;
  left: 5px;
}

#button:hover #control-ring li:nth-child(1){
  margin-top: 20px;
  margin-left: -30px;
  background-color: #303F9F;
}

#button.hover #control-ring li:nth-child(1){
  margin-top: 20px;
  margin-left: -30px;
  background-color: #303F9F;
}

#button:hover #control-ring li:nth-child(1) p{
  opacity: 1;
  position: relative;
  font-size: 25px;
  bottom:24px;
  right: 12px;
  color: #26E79E;
}

#button.hover #control-ring li:nth-child(1) p{
  opacity: 1;
  position: relative;
  font-size: 25px;
  bottom:24px;
  right: 12px;
  color: #26E79E;
}


#button:hover #control-ring li:nth-child(2){
  margin-top: 60px;
  margin-left: -40px;
  background-color: #303F9F;
}

#button.hover #control-ring li:nth-child(2){
  margin-top: 60px;
  margin-left: -40px;
  background-color: #303F9F;
}

#button:hover #control-ring li:nth-child(2) p{
  opacity: 1;
  position: relative;
  font-size: 25px;
  bottom:24px;
  right: 12px;
  color: #26E79E;
}

#button.hover #control-ring li:nth-child(2) p{
  opacity: 1;
  position: relative;
  font-size: 25px;
  bottom:24px;
  right: 12px;
  color: #26E79E;
}

#button:hover #control-ring li:nth-child(3){
  margin-top: 102px;
  margin-left: -26px;
  background-color: #303F9F;
}

#button.hover #control-ring li:nth-child(3){
  margin-top: 102px;
  margin-left: -26px;
  background-color: #303F9F;
}

#button:hover #control-ring li:nth-child(3) p{
  opacity: 1;
  position: relative;
  font-size: 25px;
  bottom:24px;
  right: 12px;
  color: #26E79E;
}

#button.hover #control-ring li:nth-child(3) p{
  opacity: 1;
  position: relative;
  font-size: 25px;
  bottom:24px;
  right: 12px;
  color: #26E79E;
}

#button:hover #control-ring li:nth-child(4){
  margin-top: 129px;
  margin-left: 12px;
  background-color: #303F9F;
}

#button.hover #control-ring li:nth-child(4){
  margin-top: 129px;
  margin-left: 12px;
  background-color: #303F9F;
}

#button:hover #control-ring li:nth-child(4) p{
  opacity: 1;
  position: relative;
  font-size: 25px;
  bottom:24px;
  right: 12px;
  color: #26E79E;
}

#button.hover #control-ring li:nth-child(4) p{
  opacity: 1;
  position: relative;
  font-size: 25px;
  bottom:24px;
  right: 12px;
  color: #26E79E;
}

#button:hover #control-ring li:nth-child(5){
  margin-top: 128px;
  margin-left: 60px;
  background-color: #303F9F;
}

#button.hover #control-ring li:nth-child(5){
  margin-top: 128px;
  margin-left: 60px;
  background-color: #303F9F;
}


#button:hover #control-ring li:nth-child(5) p{
  opacity: 1;
  position: relative;
  font-size: 25px;
  bottom:24px;
  right: 12px;
  color: #26E79E;
}

#button.hover #control-ring li:nth-child(5) p{
  opacity: 1;
  position: relative;
  font-size: 25px;
  bottom:24px;
  right: 12px;
  color: #26E79E;
}

.unread{
  position: relative;
  bottom: 85px;
  left: 18px;
  padding-top: 2px;
  padding-left: 5px;
  background-color: red;
  color: #E0D6DC;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
}
