doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Index
    link(rel='stylesheet', type='text/css', href='Detail.css')
  body
    h1 用户详情
    #BigDiv
      p#username
        span 用户名：#{username}
      p#code
        span 学号：#{code}
      p#phone
        span 电话号码：#{phone}
      p#mail
        span 邮箱：#{mail}
