.title{
  color:rgb(164,164,0);
  background-color: rgb(240,240,240);
  font-family: "Century Gothic",Futura,Verdana;
  text-decoration: underline;
  letter-spacing: 0.2em;
}
h1{
  font-size: 22pt;
  text-align: center;
}
h2{
  font-size: 18pt;
  font-weight: normal;
}
ul{
  margin-left: 16px;
}
body{
  background-color: white;
  color: rgb(64,64,64);
  font-size: 11pt;
  font-family: Georgia,Garamond;
}
.link{
  color: rgb(164,164,0);
  text-decoration: underline;
}
blockquote{
  background-color:rgb(255,255,200);
  font-size: 11pt;
  font-family: Georgia,Garamond;
}
body{
  background-image: url("silverware.jpg");
  background-attachment: fixed;
}
