extends layout

block content

  h1 用户登录
  span.unique #{whathappen}
  #BigDiv
    form(method='post')
      #div1
        label(for='username') 用户名
        input#username(name='username' value=user.username)
        p.er

      #div5
        label(for='password') 密码
        input#password(name='password' value=user.username type='password')
        p.er

      br
      input.button.submit(value='登录', type='submit')
      a.switch-signin-signup(href='/register') 注册
      //script(src='/javascripts/signup.js', type='text/javascript')
      //script(src='/javascripts/check.js', type='text/javascript')
      script(src='https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js', type='text/javascript')
      link(rel='stylesheet', type='text/css', href='/stylesheets/signin.css')
